version: '3'
services:
  postgres:
    image: "postgres"
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=root      
    ports:
      - "5432:5432"
    volumes:
      - ./migration/docker-database-initial.sql:/docker-entrypoint-initdb.d/docker-database-initial.sql  
    networks:
      - my-network


  pgadmin-compose:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "dani2014games@gmail.com"
      PGADMIN_DEFAULT_PASSWORD: "123456"
    ports:
      - "12345:80"
    depends_on:
      - postgres

  cadastropalestrantes:
    image: cadastropalestrantes
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      - my-network    

networks:
  my-network:
    driver: bridge       